<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>
  <label>For </label>
  <select>
    <option value="0">Me</option>
    <option value="1">Health Provider</option>
    <option value="2">Lab Tech</option>
    <option value="3">Pharmacist</option>
  </select>
  <input id="username" type="text" #txtUser />
  <input id="password" type="password" #txtPassword />
  <input id="login" type="submit" (click)="onSubmit(txtUser.value, txtPassword.value)"/>
  <a target="_blank" href="https://angular.io/tutorial">Register New</a>
  <div *ngIf="isSucces===true">
    <user-details [message]="result" [loggedinUser]="verifiedUser"></user-details>
  </div>
  <div class="warn" *ngIf="isSucces===false">
      <label>Please check your User Id or Password.</label>
      <a target="_blank" href="https://angular.io/tutorial">Forgot/ Reset Password</a>
    </div>
</div>
