<div>
    <h2>Welcome {{loggedinUser.uid}}!!</h2>
    <div>
        <label>Name: {{loggedinUser.firstName}} {{loggedinUser.lastName}}</label>
    </div>
    <div>
        <label>Address:</label>
    </div>
    <div>
        <label>DOB: {{loggedinUser.dob}}</label>
    </div>
    <div>
        <label>Phone: {{loggedinUser.phone}}</label>
    </div>
    <div>
        <label>Cell: {{loggedinUser.cell}}</label>
    </div>
    <div>
        <label>Email: {{loggedinUser.email}}</label>
    </div>
</div>